<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<ol>
						<li class="list-item">
							Lorem ipsum dolor sit amet
						</li>
						<li class="list-item">
							Consectetur adipiscing elit
						</li>
						<li class="list-item">
							Integer molestie lorem at massa
						</li>
						<li class="list-item">
							Facilisis in pretium nisl aliquet
						</li>
						<li class="list-item">
							Nulla volutpat aliquam velit
						</li>
						<li class="list-item">
							Faucibus porta lacus fringilla vel
						</li>
						<li class="list-item">
							Aenean sit amet erat nunc
						</li>
						<li class="list-item">
							Eget porttitor lorem
						</li>
					</ol>
				</div>
				<div class="col-md-6">
					<div class="btn-group" role="group">
						 
						<button class="btn btn-secondary" type="button">
							Left
						</button> 
						<button class="btn btn-secondary" type="button">
							Center
						</button> 
						<button class="btn btn-secondary" type="button">
							Right
						</button> 
						<button class="btn btn-secondary" type="button">
							Justify
						</button>
					</div>
					<div class="card">
						<h5 class="card-header">
							Card title
						</h5>
						<div class="card-body">
							<p class="card-text">
								Card content
							</p>
						</div>
						<div class="card-footer">
							Card footer
						</div>
					</div>
					 <a id="modal-59575" href="#modal-container-59575" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
					
					<div class="modal fade" id="modal-container-59575" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="myModalLabel">
										Modal title
									</h5> 
									<button type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-body">
									...
								</div>
								<div class="modal-footer">
									 
									<button type="button" class="btn btn-primary">
										Save changes
									</button> 
									<button type="button" class="btn btn-secondary" data-dismiss="modal">
										Close
									</button>
								</div>
							</div>
							
						</div>
						
					</div>
					
					 <a id="modal-716436" href="#modal-container-716436" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
					
					<div class="modal fade" id="modal-container-716436" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="myModalLabel">
										Modal title
									</h5> 
									<button type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-body">
									...
								</div>
								<div class="modal-footer">
									 
									<button type="button" class="btn btn-primary">
										Save changes
									</button> 
									<button type="button" class="btn btn-secondary" data-dismiss="modal">
										Close
									</button>
								</div>
							</div>
							
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>