<%- include headerAdmin.ejs %>

    <div id="wrapper" class="body-bg-black">


        <div id="page-wrapper" class="gray-bg">
            <%- include innerHeader.ejs %>

                <div class="text-center loginscreen animated fadeInDown">
                    <div>

                        <div class="row">

                            <div class="col-md-12">
                                <h2 class="bold">Edit Vendor Details</h2>
                            </div>
                        </div>
                        <form name="addServiceProviderForm" class="m-t" role="form" novalidate ng-submit="!addServiceProviderForm.$valid||vendorCtrl.submit()">
                            <div class="row">

                                <div class="col-md-offset-4 col-md-4 col-lg-4 text-center">

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="First Name" ng-required="true" name="firstName" ng-model="vendorCtrl.user.firstName" name="firstName">
                                    </div>

                                    <div ng-if="addServiceProviderForm.firstName.$error.required && vendorCtrl.submitted">
                                        <div class="errors">Please enter first name.</div>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Last Name" ng-required="true" name="lastName" ng-model="vendorCtrl.user.lastName">
                                    </div>

                                    <div ng-if="addServiceProviderForm.lastName.$error.required && vendorCtrl.submitted">
                                        <div class="errors">Please enter last name.</div>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Organization Name" name="organisation" ng-model="vendorCtrl.user.organisation" ng-required="true">
                                    </div>

                                    <div ng-if="addServiceProviderForm.organisation.$error.required && vendorCtrl.submitted">
                                        <div class="errors">Please enter organization name.</div>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" numbers-only class="form-control" placeholder="Phone Number" ng-required="true" name="phoneNumber" ng-model="vendorCtrl.user.phone" limit-to="10" ng-minlength="10" ng-maxlength="10">
                                    </div>

                                    <div ng-if="addServiceProviderForm.phoneNumber.$error.required && vendorCtrl.submitted">
                                        <div class="errors">Please enter phone number.</div>
                                    </div>

                                    <div ng-if="addServiceProviderForm.phoneNumber.$error.minlength">
                                        <div class="errors">10 digits only</div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email" ng-required="true" name="email" ng-model="vendorCtrl.user.email">
                                    </div>

                                    <div ng-if="addServiceProviderForm.email.$error.required && vendorCtrl.submitted">
                                        <div class="errors">Please enter email</div>
                                    </div>

                                    <div ng-if="!addServiceProviderForm.email.$error.required && addServiceProviderForm.email.$invalid && vendorCtrl.submitted">
                                        <div class="errors">Please enter a valid email</div>
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password" ng-required="true" name="password" ng-model="vendorCtrl.user.password">
                                    </div>
                                    <div ng-if="addServiceProviderForm.password.$error.required && vendorCtrl.submitted">
                                        <div class="errors">Please enter password</div>
                                    </div>


                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="city" ng-required="true" name="city" ng-model="vendorCtrl.user.city">
                                    </div>
                                    <div ng-if="addServiceProviderForm.city.$error.required && vendorCtrl.submitted">
                                        <div class="errors">Please enter city</div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="street" ng-required="true" name="street" ng-model="vendorCtrl.user.street">
                                    </div>
                                    <div ng-if="addServiceProviderForm.street.$error.required && vendorCtrl.submitted">
                                        <div class="errors">Please enter street</div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="state" ng-required="true" name="state" ng-model="vendorCtrl.user.state">
                                    </div>
                                    <div ng-if="addServiceProviderForm.state.$error.required && vendorCtrl.submitted">
                                        <div class="errors">Please enter state</div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" numbers-only class="form-control" placeholder="zipcode" ng-required="true" name="zipcode" ng-model="vendorCtrl.user.zipcode" limit-to="6" ng-minlength="6" ng-maxlength="6">
                                    </div>
                                    <div ng-if="addServiceProviderForm.zipcode.$error.required && vendorCtrl.submitted">
                                        <div class="errors">Please enter zipcode</div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="longitude" ng-required="true" name="logitude" ng-model="vendorCtrl.user.latLong.long">
                                    </div>
                                    <div ng-if="addServiceProviderForm.logitude.$error.required && vendorCtrl.submitted">
                                        <div class="errors">Please enter longitude</div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="latitude" ng-required="true" name="latitude" ng-model="vendorCtrl.user.latLong.lat">
                                    </div>
                                    <div ng-if="addServiceProviderForm.latitude.$error.required && vendorCtrl.submitted">
                                        <div class="errors">Please enter latitude</div>
                                    </div>

                                    <div class="contact-box" class="no-border">
                                        <label class="bold"> Select Timing
                                    </label>

                                        <div class="form-group" ng-repeat="time in vendorCtrl.user.timing">



                                            <label>{{vendorCtrl.days[$index]}}
                                    <label class="switch">
    
                                                    <input type="checkbox" ng-model="time.value" name="day" >
                                                   <span class="slider round"></span>
                            
                                    </label>
                                            </label>
                                            <label>Start Time
                                    <select ng-model="time.startTime" class="form-control maincats" name="start" data-id="56" required="time.value">
                                            <option ng-repeat="slot in vendorCtrl.slots">{{slot}}</option>
                                    </select>
                                </label>
                                            <label>End Time
                                            <select ng-model="time.endTime" class="form-control maincats"  name="end" data-id="56" required="time.value">
                                                    <option ng-repeat="slot in vendorCtrl.slots">{{slot}}</option>
                                            </select>
                                    </label>

                                            <!-- <div ng-if="(addServiceProviderForm.start.$error.required ||addServiceProviderForm.end.$error.required )&& vendorCtrl.submitted">
                                        <div class="errors">Please enter end and start time</div>
                                    </div> -->


                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Policy" name="policy" ng-model="vendorCtrl.user.policy" required="true"></textarea>
                                    </div>
                                    <div ng-if="addServiceProviderForm.policy.$error.required && vendorCtrl.submitted">
                                        <div class="errors">Please enter policy</div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row border-bottom-gray margin-left-10 margin-right-10 margin-bottom-10">
                                            <div class="col-sm-12 text-left">
                                                <h3>Select Logo</h3>
                                            </div>
                                        </div>
                                        <div ng-if="vendorCtrl.user.file">
                                            <img ng-src="{{vendorCtrl.user.file.$ngfBlobUrl}}" class="profileImageBlock">
                                        </div>
                                        <div class="text-center text-danger" ng-if="addServiceProviderForm.file.$error.required && vendorCtrl.submitted">
                                            Please select image
                                        </div>
                                        <button class="btn btn-primary form-group margin-top-20" ngf-select ng-model="vendorCtrl.user.file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" required="true">
                                        Select
                                    </button>
                                    </div>
                                </div>



                            </div>
                            <div class="row border-top-dark padding-top-20">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary block m-b registerButton" ng-click="vendorCtrl.submitted=true">Register
                        </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


        </div>
    </div>