<div id="page-wrapper" class="gray-bg">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-12">
                <h1>FAQ's</h1>
                <div id="allOrders" class="pre-scrollable maxh-500" ng-if="faqCtrl.isDriver=='true'">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-box" class="no-border">
                                <a>


                                    <div class="col-sm-10 col-md-10 ">

                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">What's required to drive for XpressIt?</h3>
                                                <span>You must be 18 years old, have an android smartphone and volunteer your social security number</span>
                                            </div>
                                        </div>
                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">Are there vechile requirements for driving?</h3>
                                                <span>No! you can use any car to deliver. Just have a valid driver's licence,insurance and clean driving record</span>
                                            </div>
                                        </div>
                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">Do I need my own insurance?</h3>
                                                <span>Yes, while doing business as an independent contractor, you are required to maintain you own insurance, Xpressit does not provide insurance</span>
                                            </div>
                                        </div>
                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">What should I do if I am unable to locate the customer after I have picked up the order?</h3>
                                                <span>If you are unable to locate customer, or are having difficulties reaching the delivery location, you may reach out via chat message, text, or call. If the delivery driver is still unable to complete delivery, contact support.</span>
                                            </div>
                                        </div>

                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">What do I do if I get into a car accident?</h3>
                                                <span>Damages sustained to your vehicle in an auto accident are your responsibility and should be addressed by your personal auto insurance carrier. 
                                                        If you are in an accident or an incident occurs while you are on an active delivery email us at support@xpressit.today with all the relevant details and we will get back to you asap!
                                                    </span> </div>
                                        </div>
                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">When do I get paid?
                                                </h3>
                                                <span>
                                                                You get paid on a weekly basis for all deliveries completed between Monday - Sunday of the previous week. Payments are transferred at that time directly to your bank account through Direct Deposit, and usually take 2-3 days to show up in your bank account, so payments will appear by Wednesday night.
                                                        </span> </div>
                                        </div>

                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">
                                                    Can I accept cash tips?
                                                </h3>
                                                <span>
                                                                Yes
                                                            </span> </div>
                                        </div>

                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">
                                                    What should I do if payment is declined?
                                                </h3>
                                                <span>
                                                            If your card is declined, wait 5 minutes and ask the cashier to try a second time. Our system notifies us when it declines the first time and we’ll fix it on our end.
                                                                </span> </div>
                                        </div>


                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">
                                                    Does my vehicle need to get inspected?
                                                </h3>
                                                <span>
                                                        Xpressit does not require a vehicle inspection.
                                                    </span> </div>
                                        </div>


                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">
                                                    What should I do if my phone crashes in the middle of a delivery? </h3>
                                                <span>
                                                        If you’re having issues with your device or app, try
                                                        force closing the app and reopening.
                                                        Sometimes deleting and reinstalling the application will resolve the issue.
                                                        Check your signal strength. If the signal is weak, your device can’t send or receive the necessary data.
                                                        Check that your phone’s operating system is updated to the most current version.
                                                        Reboot your device.
                                                        You can also report any technical issues by contacting support.
                                                                                                                                </span> </div>
                                        </div>


                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">
                                                    My direct deposit is late or missing?
                                                </h3>
                                                <span>
                                                        Your weekly payment should be deposited to your bank account every Wednesday, but deposits may be delayed due to bank processing times. 
                                                        If you do not receive your payment on Thursday, first check that the banking information on your account is correct.                                                         </span>                                                </div>
                                        </div>




                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">
                                                    What will I be delivering?
                                                </h3>
                                                <span>
                                                        Drivers deliver groceries and other items from local retailers to customers.
                                                    </span> </div>
                                        </div>



                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">
                                                    How do I purchase items at checkout?
                                                </h3>
                                                <span>
                                                        Driver’s will purchase each order using a prepaid card provided by Xpressit. This card will be funded with the amount of your order (plus a little more for unexpected extras) before your delivery. When you go to check out, the money will already be on the card!                                                        </span>                                                </div>
                                        </div>


                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">
                                                    What about taxes? </h3>
                                                <span>Xpressit does not withhold any taxes from our drivers' weekly paychecks. As independent contractors, Xpressit drivers are responsible for filing their own taxes. Those who earn above a certain amount will receive a 1099 from Xpressit at the end of the year.                                                  </span>                                                </div>
                                        </div>



                                        <div class="clearfix"></div>
                                        <div class="clearfix"></div>


                                    </div>


                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="allOrders" class="pre-scrollable maxh-500" ng-if="faqCtrl.isDriver=='false'">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-box" class="no-border">
                                <a>


                                    <div class="col-sm-10 col-md-10 ">

                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">Do I need to be home at time of delivery?</h3>
                                                <span>Yes! Do not place an order unless you're at home to receive the delivery. If no one is home at the time we deliver your items, we will call your mobile phone to ask for options to complete the delivery. Should this occur , any perishable items in your order could be damaged, so please make sure someone is available to receive the order</span></div>
                                        </div>
                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">What if an item i ordered is out of stock?</h3>
                                                <span>Your driver will contact you to see if you will like a substitute item</span>
                                            </div>
                                        </div>
                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">I received my items damaged?</h3>
                                                <span>If your order is damaged, simply contact support through the app by sending an email or by phone</span>
                                            </div>
                                        </div>
                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">Where is my receipt?</h3>
                                                <span>You will receive your original store
                                                        receipt once your order has been delivered
                                                        
                                                    </span>
                                            </div>
                                        </div>


                                        <div class="row ">


                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">
                                                    Is there a minimum number of orders?
                                                </h3>
                                                <span>
                                                            No, there is no minimum number of orders.
     
                                                        </span>
                                            </div>
                                        </div>

                                        <div class="row ">
                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">
                                                    What items are restricted from delivery?
                                                </h3>
                                                <span>
                                                    At this time, we cannot deliver tobacco, prescription medication, or lottery cards because of legal 
                                                    restrictions.     
                                                        </span>
                                            </div>
                                        </div>


                                        <div class="row ">
                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">
                                                    Can I have my order delivered to a different address?
                                                </h3>
                                                <span>
                                                Yes! As long as update the address during the checkout process.

     
                                                        </span>
                                            </div>
                                        </div>

                                        <div class="row ">

                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">
                                                    How do I see the status of my order?
                                                </h3>
                                                <span>
                                        You can easily track your order in through the app by going to the track your order under the menu tab and simply follow the instructions.     
                                                        </span>
                                            </div>
                                        </div>

                                        <div class="row ">

                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">
                                                    What is the refund policy?
                                                </h3>
                                                <span>
                                    If you choose to make a return, please note that returns vary by retailer.
                                </span>
                                            </div>
                                        </div>



                                        <div class="row ">
                                            <div class="col-sm-12 col-md-12">
                                                <h3 class="text-success">
                                                    How much do I tip?
                                                </h3>
                                                <span>
                                Tips are not required but are greatly appreciated.
                            </span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="clearfix"></div>


                            </div>


                            <div class="clearfix"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>



</div>