
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" > 
    <!-- ################################################################################################ -->
    <div class="wrapper row1" >
      <header id="header" class="hoc clear" style="
    border-radius: .5px !important;
    border-color: black;"> 
        <!-- ################################################################################################ -->
        <div id="logo" class="fl_left">
          <h1><a href="/"><img src="images/demo/backgrounds/logo.png" style=" width: 200px;height: 100px; max-width: 200px;max-height: 100px"></a></h1>
        </div>
        <nav id="mainav" class="fl_right">
          <ul class="clear">
            <li class="active"><a href="/" style="color: black">Home</a></li>
            <li><a  href="/vlogin" style="color: black">Sign In</a>
           
            </li>
            <li><a href="/vsignup" style="color: black">Retailers</a></li>
        
           
          </ul>
        </nav>
        <!-- ################################################################################################ --> 
      </header>
    </div>
    <!-- ################################################################################################ --> 
    <!-- ################################################################################################ --> 
    <!-- ################################################################################################ -->
    <div id="pageintro" class="hoc clear" style="background-image:url('images/demo/backgrounds/image1.jpeg');">
        <!-- ################################################################################################ -->
        <p style="font-family:Lobster;font-size: 36px;">Save money while supporting local business</p>
        <p style="font-family:Lobster;font-size: 22px;">Save Time</p>
        <p style="font-family:Lobster;font-size: 22px;">Save Money</p>
        <!-- ################################################################################################ --> 
    </div>
    <!-- ################################################################################################ --> 
  </div>
  <!-- End Top Background Image Wrapper --> 
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ -->
  <div class="wrapper row3">
    <main class="hoc container clear"> 
      <!-- main body --> 
      <!-- ################################################################################################ -->
       <ul class="nospace group center">
        <li class="one_quarter first" style="border-style: solid;border-radius: 1px !important;">
          <article><a href="#">
            <figure><img class="circle" src="images/demo/backgrounds/image2.png" alt="">
            </figure></a>
            <h6 class="heading font-x1">24 Hours Service</h6>
            <p>An all round the clock service to make life easier. Time is never a constraint as we operate a 24 hour service just to make sure your every minute need is addressed. We value you and your needs that much.<br>We realized that contingencies are bound to occur and there are days that schedules will not allow you plan ahead for the family's breakfast before time. Instead of waking up at 2am without an idea of how to solve the issue at hand, it is easy to take up your mobile device, access our app and shop from any grocery store of your choice. We pick up your order and get it delivered to you in no time</p>
          </article>
        </li>
        <li class="one_quarter" style="border-style: solid;border-radius: 1px !important;">
          <article><a href="#">  <figure><img class="circle" src="images/demo/backgrounds/image3.png" alt="">
          </figure></a>
            <h6 class="heading font-x1">Multiple stores in one app</h6>
            <p>In xpressit, we do realize that the hustle of life sometimes prevents us from having time to shop, and we just have to do it anyways. Sometimes people opt for the difficult way and it costs them a lot. Worse of all is that they might end up not getting what they want. There is a limit to the number of stores you can visit in search of an item and most often, a lot of people end up settling for a quality that is below par. This led us to creating an enabling ground to cut down all of the needless stress by bringing shopping right to your step. We do this to ensure you have one less thing to worry about. Life is hard enough already, every other thing need be simple.
  
            </p>
          </article>
        </li>
        <li class="one_quarter" style="border-style: solid;border-radius: 1px !important;">
          <article><a href="#">  <figure><img class="circle" src="images/demo/backgrounds/image4.png" alt="">
          </figure></a>
            <h6 class="heading font-x1">Benefit of Multiple Store</h6>
            <p>Our app does not limit you, as it helps you to say yes to endless possibilities. How we do this is quite simple. We allow you access multiple shops by bringing them at your fingertip.
              Xpressit is a cost-effective and stress-less way to shopping. It also helps you save time as once your order is placed, you can totally focus on tending to other issues. Our multiple store app helps you save ample time as everything you want is all in one app, and the best part is that you get a chance to select from a wide range of brands and products. With just a click, you'll have access to varieties and you're then left to choose from the wide range to soothe your needs. In xpressit, we don't just say it, we do it. We live our name.</p>
          </article>
        </li>
      </ul>
      <!-- ################################################################################################ --> 
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
  
  
  
  
  
  
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ -->
  <div class="wrapper row3" >
    
    
    <div  class="hoc container clear"style="background-image:url('images/demo/backgrounds/image5.jpeg');max-height: 238px;max-width:478px;height: 238px;width:478px;background-size: 478px 238px;">
       
      <p style="font-family:Lobster;font-size: 28px; color: white;padding:0px!important">​Shop Fashion <br>
        </p>
  
        <p style="font-size: 24px; color: white">​      Trending fashion always starts local
            <br><br><br><br>
        </p>
    </div>
    <div class="hoc container clear" style="background-image:url('images/demo/backgrounds/image6.jpeg');max-height: 238px;max-width:478px;height: 238px;width:478px;background-size: 478px 238px;">
    
      <p style="font-family:Lobster;font-size: 28px; color: white;padding:0px!important">​Shop Fresh <br>
      </p>
  
      <p style="font-size: 24px; color: white">​      Shop hundreds of vendors from brick-and-mortars  to farmers markets
          <br><br><br>
      </p>
    </div>
  </div>
  
  
  
  <div class="wrapper row3" >
      <div  class="hoc container clear"style="background-image:url('images/demo/backgrounds/image7.jpeg');max-height: 642px;max-width:512px;height: 642px;width:512px;background-size: 512px 642px;">
       
      <p style="font-family:Lobster;font-size: 28px; color: white;padding:0px!important">​Shop Local <br>
      </p>
        <p style="font-size: 16px; color: white">We found a need to encourage local businesses and help them grow. This is because once our local businesses are advanced due to patronage; it positively contributes to the growth of our country's economy in one way or the other. Local businesses also aid sustainability and this is a great way to encourage independence and entrepreneurship.</p>
      </div>
      <div class="hoc container clear" style="max-height: 238px;max-width:478px;height: 238px;width:478px;background-size: 478px 238px;">
        <p style="font-family:Lobster;word-wrap: break-word">​Welcome to xpressit; the easy and trusted way out.
            Our app allows you access to as many stores as you deem fit. You call the shot as you are able to compare these stores in both prices and in every wise before deciding to settle for whichever one you decide is best.<br>
            We are not limiting your shopping to any item as you can exclusively be delivered whatever it is you order from the plethora of shops that our app enables you access to.
          </p>
      </div>
    </div>
  
  
  
  
  
  <div class="wrapper row4">
    <footer id="footer" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="one_quarter first">
        <h6 class="heading" style="
        padding: 0px;
      margin: 0px;
  ">Shoppers</h6>
        <li>
          <a href="http://xpressit.today/shopper-faqs" target="_blank" style="cursor: pointer;"> Shopper's FAQ</a>
  
          </li>
          <h6 class="heading" style="
          padding: 0px;
        margin: 0px;
    ">Drivers</h6>
          <li> <a href="http://xpressit.today/driver-faqs" target="_blank" style="cursor: pointer;"> Shopper's FAQ</a>
          </li>
        </div>
            
        <div class="one_quarter">
            <h6 class="heading" style="
            padding: 0px;
          margin: 0px;
      ">Connect With Us</h6>
    
        <li><a href="https://www.facebook.com/xpressit.today/" target="_blank" style="cursor: pointer;"> Facebook
          </a></li>
          <li><a href="https://twitter.com/xpressit5" target="_blank" style="cursor: pointer;"> Twitter
            </a></li>
            <li><a href="https://www.facebook.com/xpressit.today/" target="_blank" style="cursor: pointer;"> Instagram     </a>       </li>
            </div>
            
        <div class="one_quarter">
            <h6 class="heading" style="
            padding: 0px;
          margin: 0px;
      ">Company</h6>
      
      <li> <a href="http://xpressit.today/team" target="_blank" style="cursor: pointer;">Team</a>
        </li>
        <li><a href="http://xpressit.today/press-and-media" target="_blank" style="cursor: pointer;"> Press & media</a>
          </li>
          <li> <a href="http://xpressit.today/contact-us" target="_blank" style="cursor: pointer;">Contact Us</a>
  
            </li>
            <li><a href="http://xpressit.today/careers" target="_blank" style="cursor: pointer;"> Career</a>
  
              </li>
              <li> <a href="/" target="_blank" style="cursor: pointer;">Terms</a>
                </li>     
                <li><a href="/" target="_blank" style="cursor: pointer;"> Privacy</a>
                  </li> </div>
      <!-- ################################################################################################ --> 
    </footer>
  </div>
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ -->
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <p class="fl_left">   © 2018 Xpressit today, Inc.</p>
      <!-- ################################################################################################ --> 
    </div>
  </div>
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ --> 
  <!-- ################################################################################################ --> 
  <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a> 